* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #5c7f81;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --var-color-1: black;
  --var-color-2: #f1f1f1;
  --var-color-3: #dadae7;
  --var-color-4: #a5c6e0;
  --var-color-background-color: rgb(139, 176, 233);
  --var-color-secciones: rgb(88, 127, 187);
  --var-color-proyectos: white;
  --var-color-botones: #4caf50;

  --var-margin-xs: 0.625rem;
  --var-margin-s: 1.25rem;
  --var-margin-m: 1.875rem;
  --var-margin-l: 2.5rem;
  --var-margin-xl: 3.125rem;
  --var-margin-section: 6.25rem;

  --var-padding-xs: 0.625rem;
  --var-padding-s: 1.25rem;
  --var-padding-m: 1.875rem;
  --var-padding-l: 2.5rem;
  --var-padding-xl: 3.125rem;

  --var-gap-xs: 0.625rem;
  --var-gap-s: 1.25rem;
  --var-gap-m: 1.875rem;
  --var-gap-l: 2.5rem;
  --var-gap-xl: 3.125rem;
}
#app {
  max-width: 100%;
  height: 100%;
  background-color: rgb(40, 50, 189);
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
