.carta {
  width: 100px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
}

.caraPrincipalCarta,
.caraTraseraCarta {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: bold;
  border: 3px solid #ffd700;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease;
}

.caraTraseraCarta {
  background: linear-gradient(135deg, #ffcc00, #ff9900);
  color: white;
  transform: rotateY(0deg);
}

.caraPrincipalCarta {
  background-color: #ffffff;
  color: #444;
  transform: rotateY(180deg);
}

.carta.activa .caraPrincipalCarta {
  transform: rotateY(0deg);
}

.carta.activa .caraTraseraCarta {
  transform: rotateY(180deg);
}

.carta.acertada .caraPrincipalCarta {
  background-color: #c6f6c6;
  border-color: #00cc66;
  box-shadow: 0 0 15px #00cc66;
}

.carta:hover {
  transform: scale(1.05);
}
